# postfwd settings file version 2.00-pre6
#
# Sample configuration settings for postfwd.
#
# Run:
# 	postfwd --showsettings
# to see the full list of available options.
#
# To create your config template, run:
# 	postfwd --option1 --option2 ... showsettings >/path/to/file
#

# do not remove these
{

  # read rules from /etc/postfwd/postfwd.cf
  # and add a default-dunno last rule
  Configs => [
               'file////etc/postfwd/postfwd.cf',
               'rule///id=DEFAULT; action=DUNNO'
             ],

  # user and group for postfwd
  base => {
            group => 'postfw',
            user => 'postfw'
          },

  # server settings
  server => {
              proto => 'tcp',
              host => '127.0.0.1',
              port => '10099'
            },

  # do not fork to background
  # this mode will usually be combined with syslog->stdout->'1'
  daemon => 0,

  # logging and statistics
  verbose => 0,
  syslog => {
              noidlestats => 1,
              stdout => '1'
            },

  # cidr network check settings
  aggregate_addrs => 1,
  cidr_method => 'netcidr',

  # persistant group object settings
  keep_groups => 1,
  group => {
             cleanup => '600',
             maxitems => '9999',
             ttl => '3600',
             store => '/var/tmp/postfwd.groups'
           },

  # persistant rate limit settings
  keep_rates => 1,
  rate => {
            noparent => '1',
            store => '/var/tmp/postfwd.rates'
          },

  # request cache settings (disabled)
  request => {
               ttl => 0
             },

  # scores
  scores => {
              '5.0' => '554 5.7.1 postfwd3 score exceeded'
            }

# do not remove these
}

