ccert_fingerprint=
size=64063
helo_name=www.example.org
reverse_client_name=www.example.org
queue_id=4F4E37F67C
encryption_cipher=
encryption_protocol=
etrn_domain=
ccert_subject=
request=smtpd_access_policy
protocol_state=RCPT
recipient=recipient@domain.local
instance=6748.46adf3f8.62156.0
protocol_name=ESMTP
encryption_keysize=0
recipient_count=1
ccert_issuer=
sender=sender@example.org
client_name=www.example.org
client_address=2606:2800:220:1:248:1893:25c8:1946

